node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Solidity coverage files
.coverage_artifacts
.coverage_cache
.coverage_contracts

# IDE
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Local deployment files
deployments/localhost